// 変数
$white: #fff;
$black: #333;
$gray: #f5f5f5;
$gold: #84692f;

// ベーススタイル

body {
  font-family: "Kaisei Tokumin", serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
img {
  box-sizing: border-box;
  max-width: 100%;
}

@media screen and (min-width: 980px) {
  .top,
  .menu,
  .seat,
  .reserve,
  .access
 .menuall
   {
    width: 80vw;
    //background-color: burlywood;
    margin-right: 0px;
    margin-left: 20vw;
    font-size: 1.2rem;

    z-index: 999;
  }
}

footer {
  width: 100%;
  //background-color: burlywood;
  //margin-right: 0px;
  //margin-left: 20vw;
  text-align: center;
  //padding-left: 50%;
  //padding-right: 50%;
  height: 2rem;
  color: $gold;
  text-align: center;
  margin-bottom: 10px;
  @media screen and (min-width: 980px) {
    padding-left: 20vw;
  }
}
