.menu-bgimg {
  background: url(../img/sirako.png) no-repeat center;
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  margin-bottom: 5rem;
}

.seat-bgimg {
  background: url(../img/glass.png) no-repeat center;
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  margin-bottom: 5rem;
}
