.menu-bgimg {
  background: url(../img/sirako.png) no-repeat center;
  position: relative;
  width: 100%;
  height: 30vh;
  background-size: cover;
  margin-bottom: 5rem;
  //z-index: 0;
  //background-attachment: fixed;
  background-size: cover;
  @media screen and (min-width: 980px) {
    height: 50vh;
    background-attachment: fixed;
    //width: ;
    //padding-left: 20vw;
    //margin-left: 20vw;
  }
}

.seat-bgimg {
  background: url(../img/glass.png) no-repeat center;
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  margin-bottom: 5rem;
  //z-index: 0;
  @media screen and (min-width: 980px) {
    height: 50vh;
    background-attachment: fixed;
  }
}

/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.d-demo {
  display: -ms-grid;
  overflow: hidden;

}
/*----------------------------*/
.d-demo {
  @media screen and (max-width: 980px) {
    width: 100vw;
  }
}
.d-demo__wrap {
  display: flex;
  overflow: hidden;
  
}

.d-demo__list {
  display: flex;
  list-style: none;
}

.d-demo__list--left {
  animation: infinity-scroll-left 95s infinite linear 0.5s both;
}

.d-demo__item {
  width: calc(100vw / 6);
  padding: 1rem;
  @media screen and (max-width: 980px) {
    width: 100vw;
    padding: 1rem;
  }
 
}
.d-demo__item > img {
  width: 100%;
  
}
/*
左から右へ
----------------------------*/
@keyframes infinity-scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.d-demo__list--right {
  animation: infinity-scroll-right 95s infinite linear 0.5s both;
}
