.logo {
  background-color: $gold;
}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
  border-radius: 50%;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.f-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #555;
}
.menu__item {
  width: 100%;
  height: auto;
  padding: 0.5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  line-height: 3rem;
  font-size: 1rem;
  text-decoration: none;
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.f-menu {
  transform: translateX(100vw);
  transition: all 0.3s linear;
}
/* アニメーション後のメニューの状態 */
.f-menu.is-active {
  transform: translateX(0);
}



.fade-block1 {
  transform: translateY(50px);
  transition: all .5s ease;
  opacity: 0;
}
/* 画面に入った時の動き */
.fade-block1.blockIn {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 980px) {
  .menu-btn {
    display: none;
  }
  
}