.topimg {
  text-align: center;
  margin: 30px;
  img {
    box-shadow: 6px 6px 6px gray;
  }

  @media screen and (min-width: 980px) {
    margin-top: 0px;
    display: none;
  }
}
.pcimg {
  @media screen and (max-width: 980px) {
    display: none;
    box-shadow: 6px 6px 6px gray;
  }
}
.pcimg {
  //display: none;
  @media screen and (min-width: 980px) {
    //background-color: aquamarine;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    //box-shadow: 6px 6px 6px gray;
    img {
      box-shadow: 6px 6px 6px gray;
    }

    img {
      width: 70%;
    }
  }
}
.master {
  text-align: center;
  margin: 3rem;
}
.top {
  margin-bottom: 10rem;
}
.t1-text {
  font-size: 1.1rem;
  border-bottom: solid 0.5px black;
  width: 90%;
  text-align: center;
  margin: auto;
  @media screen and (min-width: 980px) {
    font-size: 3rem;
    height: 3rem;
  }
}
.title {
  color: $gold;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  border-bottom: solid 0.5px $gold;
  margin: auto;
  width: 90%;
  margin-bottom: 5rem;
}
.text {
  text-align: center;
  margin: 1.5rem;
}
.menuimg {
  height: auto;
  margin-top: 6rem;
}
.seatimg {
  height: auto;
  margin-top: 6rem;
  img {
    box-shadow: 6px 6px 6px gray;
  }
}
.menutext {
  text-align: center;
  margin-top: 6rem;
  letter-spacing: 0.2em;
}
.seattext {
  text-align: center;
  margin-top: 6rem;
  letter-spacing: 0.2em;
  //padding-top: 10rem;
}
.menu {
  margin-bottom: 10rem;

  //background-color: cadetblue;
}
.seat {
  margin-bottom: 10rem;

  //background-color: chocolate;
}
.reserve {
  margin-bottom: 10rem;

  //background-color: chocolate;
}
.access {
  margin-bottom: 10rem;

  //background-color: chocolate;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  //z-index: 200;
  margin: auto;
  background-color: $gold;
  width: 100%;
  //position: relative;
  .nav-list {
    //display: none;
  }
  @media screen and (max-width: 980px) {
    .nav-list {
      display: none;
    }
  }

  @media screen and (min-width: 980px) {
    //width: 8px;
    position: fixed;
    //background-color: aquamarine;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 20vw;
    z-index: 200;
    height: 100vh;
    //display: ;

    font-size: 1.5rem;
    text-align: center;
    .nav-list {
      padding-top: 14vh;
      //text-decoration: none;
      .nav-list-item {
        margin: 2rem;
        list-style: none;
        color: black;
        //text-decoration: none;
        a {
          text-decoration: none;
          color: black;
        }
      }
      .tel {
        margin-top: 4rem;
      }
    }
  }
}
.logo {
  text-align: center;
}
.hum {
  top: 5px;
  //padding-right: 5px;
  position: fixed;
  text-align: center;
  background-color: $gold;
  width: 20vw;
  margin-left: 80vw;
  z-index: 100;
  //height: ;
  //background-color: aquamarine;

  @media screen and (min-width: 980px) {
    img {
      display: none;
      height: 0px;
    }
  }
}

.master {
  //background-color: aquamarine;
  @media screen and (min-width: 980px) {
    img {
      width: 25%;
      //padding-left: 0px;
      //padding-right: 50%;
    }
  }
}
.menublock {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 980px) {
    //display: flex;
    //text-align: center;
  }
}
@media screen and (min-width: 980px) {
  .menublock {
    flex-direction: row;
    justify-content: center;
    //background-color: aquamarine;
    //padding: 3rem;
    //justify-content: space-between;
    margin: 0px;
  }
  .menublock:nth-child(even) {
    flex-direction: row-reverse;
  }

  .menutext {
    padding-top: 10rem;
    line-height: 2rem;
    padding-right: 3rem;
    //background-color: brown;
  }
  .menuimg {
    img {
      width: 40vw;
      //background-color: chartreuse;
      margin-right: 5rem;
      box-shadow: 6px 6px 6px gray;
    }
  }
}
@media screen and (min-width: 980px) {
  .seattext {
    margin: 5rem;
    line-height: 2rem;
    padding-right: 150px;
    padding-top: 10rem;
  }
  .seatblock {
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    display: flex;
  }
  .seatblock:nth-child(even) {
    flex-direction: row-reverse;

    img {
      width: 40vw;
    }
  }
  .seatblock:nth-child(odd) {
    img {
      width: 40vw;
    }
  }
}
.nomaltext {
  text-align: center;
  font-size: 1rem;
  margin: 2rem;
  line-height: 2rem;
}

.ipimg {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  //background-color: gold;
  //padding: 1rem;
  justify-content: center;
  align-items: center;
  img {
    width: 45%;
    margin: 0.1rem;
  }
}
.sabu {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 980px) {
  .arucoal {
    text-align: center;
    .a-img {
      background-color: gold;
      img {
        //text-align: center;
        width: 100vw;
      }
    }
  }
  .menuall {
    width: 80vw;
    //background-color: burlywood;
    margin-right: 0px;
    margin-left: 20vw;

    //background-color: gold;
  }
}

.content {
  background-color: greenyellow;
  position: relative;
  //margin-top: 20vw;
  //display: flex;
  .content1 {
    top: 8vw;
    left: 10%;
    height: 60vw;
    //transform: translateY(-50%) translateX(-50%);
    position: absolute;
    box-shadow: 2px 2px 4px gray;
  }
  .content2 {
    top: 40vw;
    left: 50%;
    //transform: translateY(-50%) translateX(-50%);
    position: absolute;
    width: 50%;
    box-shadow: 2px 2px 4px gray;
  }
}
.boxmain {
  padding-top: 2rem;
  padding-bottom: 2rem;
  //background-color: rgba(145, 132, 138, 0.336);
  .m-box {
    background-color: rgba(255, 217, 0, 0.377);
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 3px 3px 6px -2px #555,
      3px 3px 8px rgba(255, 255, 255, 0.8) inset;
  }
}
