@charset "UTF-8";
/* 文字コードの指定 */
body {
  font-family: "Kaisei Tokumin", serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

@media screen and (min-width: 980px) {
  .top,
  .menu,
  .seat,
  .reserve,
  .access {
    width: 80vw;
    margin-right: 0px;
    margin-left: 20vw;
    font-size: 1.2rem;
    z-index: 999;
  }
}

@media screen and (min-width: 980px) {
  .m-access {
    width: 80vw;
    margin-right: 0px;
    font-size: 1.2rem;
    z-index: 999;
  }
}

footer {
  width: 100%;
  text-align: center;
  height: 2rem;
  color: #84692f;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 980px) {
  footer {
    padding-left: 20vw;
  }
}

@media screen and (min-width: 980px) {
  .menuall .reserve {
    margin-left: 0;
  }
}

.menu-bgimg {
  background: url(../img/sirako.png) no-repeat center;
  position: relative;
  width: 100%;
  height: 30vh;
  background-size: cover;
  margin-bottom: 5rem;
  background-size: cover;
}

@media screen and (min-width: 980px) {
  .menu-bgimg {
    height: 50vh;
    background-attachment: fixed;
  }
}

.seat-bgimg {
  background: url(../img/glass.png) no-repeat center;
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  margin-bottom: 5rem;
}

@media screen and (min-width: 980px) {
  .seat-bgimg {
    height: 50vh;
    background-attachment: fixed;
  }
}

/*
右から左へ
----------------------------*/
@-webkit-keyframes infinity-scroll-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes infinity-scroll-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.d-demo {
  display: -ms-grid;
  overflow: hidden;
}

/*----------------------------*/
@media screen and (max-width: 980px) {
  .d-demo {
    width: 100vw;
  }
}

.d-demo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.d-demo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.d-demo__list--left {
  -webkit-animation: infinity-scroll-left 95s infinite linear 0.5s both;
          animation: infinity-scroll-left 95s infinite linear 0.5s both;
}

.d-demo__item {
  width: calc(100vw / 6);
  padding: 1rem;
}

@media screen and (max-width: 980px) {
  .d-demo__item {
    width: 100vw;
    padding: 1rem;
  }
}

.d-demo__item > img {
  width: 100%;
}

/*
左から右へ
----------------------------*/
@-webkit-keyframes infinity-scroll-right {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes infinity-scroll-right {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.d-demo__list--right {
  -webkit-animation: infinity-scroll-right 95s infinite linear 0.5s both;
          animation: infinity-scroll-right 95s infinite linear 0.5s both;
}

.topimg {
  text-align: center;
  margin: 30px;
}

.topimg img {
  -webkit-box-shadow: 6px 6px 6px gray;
          box-shadow: 6px 6px 6px gray;
}

@media screen and (min-width: 980px) {
  .topimg {
    margin-top: 0px;
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .pcimg {
    display: none;
    -webkit-box-shadow: 6px 6px 6px gray;
            box-shadow: 6px 6px 6px gray;
  }
}

@media screen and (min-width: 980px) {
  .pcimg {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pcimg img {
    -webkit-box-shadow: 6px 6px 6px gray;
            box-shadow: 6px 6px 6px gray;
  }
  .pcimg img {
    width: 70%;
  }
}

.master {
  text-align: center;
  margin: 3rem;
}

.top {
  margin-bottom: 10rem;
}

.t1-text {
  font-size: 1.1rem;
  border-bottom: solid 0.5px black;
  width: 90%;
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 980px) {
  .t1-text {
    font-size: 3rem;
    height: 3rem;
  }
}

.title {
  color: #84692f;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  border-bottom: solid 0.5px #84692f;
  margin: auto;
  width: 90%;
  margin-bottom: 5rem;
}

.text {
  text-align: center;
  margin: 1.5rem;
}

.menuimg {
  height: auto;
  margin-top: 6rem;
}

.seatimg {
  height: auto;
  margin-top: 6rem;
}

.seatimg img {
  -webkit-box-shadow: 6px 6px 6px gray;
          box-shadow: 6px 6px 6px gray;
}

.menutext {
  text-align: center;
  margin-top: 6rem;
  letter-spacing: 0.2em;
}

.seattext {
  text-align: center;
  margin-top: 6rem;
  letter-spacing: 0.2em;
}

.menu {
  margin-bottom: 10rem;
}

.seat {
  margin-bottom: 10rem;
}

.reserve {
  margin-bottom: 10rem;
}

.access {
  margin-bottom: 10rem;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  background-color: #84692f;
  width: 100%;
}

@media screen and (max-width: 980px) {
  header {
    display: none;
  }
}

@media screen and (min-width: 980px) {
  header {
    position: fixed;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 20vw;
    z-index: 200;
    height: 100vh;
    font-size: 1.5rem;
    text-align: center;
  }
  header .nav-list {
    padding-top: 14vh;
  }
  header .nav-list .nav-list-item {
    margin: 2rem;
    list-style: none;
    color: black;
  }
  header .nav-list .nav-list-item a {
    text-decoration: none;
    color: black;
  }
  header .nav-list .tel {
    margin-top: 4rem;
  }
}

.logo {
  text-align: center;
}

@media screen and (min-width: 980px) {
  .menu-content02 {
    font-size: 2rem;
    line-height: 4rem;
    padding-top: 5rem;
  }
  .menu-content02 a {
    text-decoration: none;
    color: black;
  }
  .logo {
    width: 20vw;
    z-index: 100;
  }
}

.hum {
  top: 5px;
  position: fixed;
  text-align: center;
  background-color: #84692f;
  width: 20vw;
  margin-left: 80vw;
  z-index: 100;
}

@media screen and (min-width: 980px) {
  .hum img {
    display: none;
    height: 0px;
  }
}

@media screen and (min-width: 980px) {
  .master img {
    width: 25%;
  }
}

.menublock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 980px) {
  .menublock {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
  }
  .menublock:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .menutext {
    padding-top: 10rem;
    line-height: 2rem;
    padding-right: 3rem;
  }
  .menuimg img {
    width: 40vw;
    margin-right: 5rem;
    -webkit-box-shadow: 6px 6px 6px gray;
            box-shadow: 6px 6px 6px gray;
  }
}

@media screen and (min-width: 980px) {
  .seattext {
    margin: 5rem;
    line-height: 2rem;
    padding-right: 150px;
    padding-top: 10rem;
  }
  .seatblock {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .seatblock:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .seatblock:nth-child(even) img {
    width: 40vw;
  }
  .seatblock:nth-child(odd) img {
    width: 40vw;
  }
}

.nomaltext {
  text-align: center;
  font-size: 1rem;
  margin: 2rem;
  line-height: 2rem;
}

@media screen and (min-width: 980px) {
  .nomaltext {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.ipimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ipimg img {
  width: 45%;
  margin: 0.1rem;
}

.sabu {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 980px) {
  .arucoal {
    text-align: center;
  }
  .arucoal .a-img {
    background-color: gold;
  }
  .arucoal .a-img img {
    width: 100vw;
  }
  .menuall {
    width: 80vw;
    margin-right: 0px;
    margin-left: 20vw;
  }
}

.content {
  background-color: greenyellow;
  position: relative;
}

.content .content1 {
  top: 8vw;
  left: 10%;
  height: 60vw;
  position: absolute;
  -webkit-box-shadow: 2px 2px 4px gray;
          box-shadow: 2px 2px 4px gray;
}

.content .content2 {
  top: 40vw;
  left: 50%;
  position: absolute;
  width: 50%;
  -webkit-box-shadow: 2px 2px 4px gray;
          box-shadow: 2px 2px 4px gray;
}

.boxmain {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.boxmain .m-box {
  background-color: rgba(255, 217, 0, 0.377);
  width: 80vw;
  height: 80vw;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 6px -2px #555, 3px 3px 8px rgba(255, 255, 255, 0.8) inset;
          box-shadow: 3px 3px 6px -2px #555, 3px 3px 8px rgba(255, 255, 255, 0.8) inset;
}

.btn {
  padding: 1rem;
  width: 60%;
  position: relative;
  margin: auto;
  color: #333;
  border: solid 0.5px #333;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 980px) {
  .btn {
    width: 30%;
    padding-left: 10%;
  }
}

.btn a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
}

.btn a .yazirusi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
}

.btn a .yazirusi::after {
  content: '';
  width: 100px;
  height: 15px;
  border-bottom: solid 1px;
  border-right: solid 1px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.logo {
  background-color: #84692f;
}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333;
  color: #fff;
  border-radius: 50%;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.f-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #555;
}

.menu__item {
  width: 100%;
  height: auto;
  padding: 0.5em 1em;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 3rem;
  font-size: 1rem;
  text-decoration: none;
}

/*----------------------------
* アニメーション部分
*----------------------------*/
/* アニメーション前のメニューの状態 */
.f-menu {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* アニメーション後のメニューの状態 */
.f-menu.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.fade-block1 {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
}

/* 画面に入った時の動き */
.fade-block1.blockIn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 980px) {
  .menu-btn {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */